body{
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    overflow-x: hidden;
}
.top-links li a{
    text-decoration: none;
    color:#7b7b7b;
    font-size:0.68em;
    font-weight: bold;
    display: flex;
    padding-left:15px;
    }
   
.top-links{
    display: flex;
    flex-direction: column;
    
}
.top-links ul{
    display:flex;
    list-style: none;
    justify-content: end;
}
.topp{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    position: relative;
}

.orange-button{
    display:flex;
    margin:0 auto; 
    border:none; 
    width:100%;
    background-color: rgb(255, 96, 0);color:white;
}
.search-button{
    display:flex; 
    border:none; 
    position: absolute;
    left:305px;
    top:1px;
    background-color: rgb(255, 96, 0);color:white;
}


.search-area :focus{
    border:1px solid  rgb(255, 96, 0);
    outline: 3px solid rgb(255, 96, 0);

}
.search-area>input {
    border:1px solid  rgb(201, 199, 199);
    box-shadow: 0 1px 1px rgb(201, 199, 199) inset, 0 0 8px rgb(201, 199, 199);
    outline: 0 none;
}
.search-area{
    height: max-content;
    outline: 1px solid rgb(252, 251, 251);
    width:360px;
    left:320px;
}

.geo-area{
    display: flex;
    align-items:start;
}
.sag-menu{
    display: flex;
    justify-content: flex-start;
    width: fit-content;

}
.geo-area-out{
    left:520px;
    width: fit-content;
    display: flex;

}
.geo-area div > .bi-caret-down-fill{
    font-size: 10px;
    margin-top: 18px;
    margin-left: 10px;
}
.geo-area-button{
    display: flex;
    justify-content: left;
}
.geo-area-button > p{
    font-weight:bold;
    font-size:11px!important;
}
.geo-area-button .p-renk{
    display:flex;
    color:rgb(255, 96, 0);
}
.geo-area-button > div{
    display: flex;
}
.geo-area i{
    display:flex;
    font-size:x-large; 
    width: fit-content;
    color:rgb(255, 96, 0);
}
.geo-area div{
    display:flex; 
    flex-direction: column;
    line-height:1px; 
}
.popover-manuel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border:1px solid  rgb(201, 199, 199);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(201, 199, 199) inset, 0 0 8px rgb(201, 199, 199);
    outline: 0 none;
    padding: 5px;

}
.popover-manuel a{
    margin: 0 10px;
    text-decoration: none;
    color:black;
    font-size: 12px;

}
.popover-manuel a span{
    font-size:10px;
}

.popover-manuel>.row>.col{
    display: flex;
    flex-direction: column;
}
.popover-manuel>div>.bi-person{
    font-size: 20px;
}
.bi-cart{
    font-size: 25px;
}
.badge-mine{
    left:25px;
    margin-top:7px;
    font-size: 8px;
}